.btn-default {
  color: #ee2e24;
  background-color: #ffffff;
  padding: 10px 30px;
  display: inline-block;
  border: 1px solid #ee2e24;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
  line-height: 18px;
  cursor: pointer;
}
.btn-default:hover {
  background-color: #ee2e24;
  color: #ffffff;
}
.btn-extra {
  color: #ffffff;
  background-color: #ee2e24;
  padding: 10px 30px;
  display: inline-block;
  border: 1px solid #ee2e24;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
  line-height: 18px;
  cursor: pointer;
}
.btn-extra:hover {
  background-color: #ffffff;
  color: #ee2e24;
}
.see-more {
  color: #ee2e24;
  background-color: #ffffff;
  padding: 10px 30px;
  display: inline-block;
  border: 1px solid #ee2e24;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.see-more:hover {
  background-color: #ee2e24;
  color: #ffffff;
}
.see-more-extra {
  color: #ffffff;
  background-color: #ee2e24;
  padding: 10px 30px;
  display: inline-block;
  border: 1px solid #ee2e24;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.see-more-extra:hover {
  background-color: #ffffff;
  color: #ee2e24;
}
.text-default {
  font-weight: 500;
  color: #333333;
}
.text-default:hover {
  color: #ee2e24;
}
.text-active {
  font-weight: 600;
  color: #ee2e24;
}
.label-hot {
  position: absolute;
  top: 0px;
  letter-spacing: 0.5px;
  color: #ffffff;
  background: #ee2e24;
  font-weight: 700;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  left: 82%;
}
.label-pre {
  position: absolute;
  top: 0px;
  letter-spacing: 0.5px;
  color: #ffffff;
  background: #f99b2a;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 20px;
  line-height: 12px;
  right: 0;
}
header {
  background-color: #ee2e24;
}
header .header__menu-top {
  height: 40px;
  display: block;
}
header .header__menu-desk {
  display: none;
}
header .header__menu {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
header .header__menu-img {
  margin: 18px 0 16px;
}
header .header__menu-bars {
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 0 5%;
  height: 60px;
  text-align: center;
  -webkit-box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.15);
  z-index: 100;
}
header .header__menu-bars span {
  display: block;
  color: #333333;
  font-size: 9px;
  font-weight: 600;
}
header .header__menu-bars--user {
  background-color: #ee2e24;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  margin: unset;
  bottom: 10px;
}
header .header__menu-bars--user img {
  margin: 11px auto 6px;
}
header .header__menu-bars--user span {
  padding-bottom: 10px;
  color: #ffffff;
}
header .header__menu-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: hidden;
  width: 100%;
  height: 40px;
  border: 1px solid #ee2e24;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 0 10px;
}
header .header__menu-form input {
  width: 100%;
  height: 100%;
  text-transform: none;
  line-height: 15px;
  padding: 12.5px 0 12.5px 20px;
  font-size: 12px;
  font-weight: 500;
}
header .header__menu-form a {
  margin-right: 15px;
}
header .header__menu-form a img {
  color: #ee2e24;
}
header .header__menu-shop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
header .header__menu-shop a:nth-child(2) {
  margin-left: 14px;
  position: relative;
}
header .header__menu-shop a:nth-child(2) span {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 20px;
  color: #ee2e24;
  top: 34%;
  left: 16px;
  font-size: 6px;
  font-weight: 500;
}
@media (min-width: 768px) {
  header .header__menu-bars {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  header .header__menu-top {
    display: none;
  }
  header .header__menu-desk {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 65px;
  }
  header .header__menu-desk .header__menu-img {
    background: #ee2e24;
    margin: 0;
    position: absolute;
    left: 60px;
    top: 0;
  }
  header .header__menu-desk .menu__desk-main {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 80px;
    gap: 16px;
    top: 0;
    position: absolute;
    left: 260px;
    right: 60px;
    padding: 20px 20px 20px 20px;
  }
  header .header__menu-desk .menu__desk-main a {
    text-align: center;
  }
  header .header__menu-desk .menu__desk-main a:first-child span,
  header .header__menu-desk .menu__desk-main a:nth-child(4) span {
    margin-top: 10px;
  }
  header .header__menu-desk .menu__desk-main .language__en,
  header .header__menu-desk .menu__desk-main .language__vi {
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }
  header .header__menu-desk .menu__desk-main .language__vi {
    color: #ee2e24;
  }
  header .header__menu-desk .menu__desk-main .language__vi::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 1px;
    background: #9a9a9a;
    top: 30px;
    right: 50px;
  }
  header .header__menu-desk .menu__desk-main input {
    text-transform: none;
    line-height: 15px;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    width: 240px;
    height: 40px;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 500;
  }
  header .header__menu-desk .menu__desk-main form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  header .header__menu-desk .menu__desk-main span {
    margin-top: 5px;
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #333333;
  }
  header .header__menu-desk .menu__desk-main span:hover {
    color: #ee2e24;
  }
  header .header__menu {
    display: none;
  }
}
@media (min-width: 1440px) {
  header .header__menu-desk .header__menu-img {
    left: 120px;
  }
  header .header__menu-desk .menu__desk-main {
    padding: 20px 20px 20px 42px;
    left: 320px;
    right: 120px;
  }
  header .header__menu-desk .menu__desk-main input {
    margin-left: 50px;
  }
  header .header__menu-desk .menu__desk-main span {
    font-size: 12px;
  }
}
.banner__box img {
  width: 100%;
  max-height: 420px;
}
.sub-slider__box img {
  width: 100%;
  max-height: 420px;
}
.category {
  margin: 20px 20px 30px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 20px;
  list-style: none;
}
.category__list.active label {
  background-color: #ee2e24;
}
.category__list.active label img {
  color: #ffffff;
}
.category__list.active a {
  font-weight: 600;
  color: #ee2e24;
}
.category__list.active:last-child label {
  background-color: #ffffff;
}
.category__list label {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.category__list label img {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 20%;
  color: #ee2e24;
}
.category__list a {
  font-weight: 500;
  color: #333333;
  margin-top: 8px;
  display: block;
}
.category__list a:hover {
  color: #ee2e24;
}
@media (min-width: 768px) {
  .category {
    margin: 20px 8%;
  }
}
@media (min-width: 1440px) {
  .category {
    margin: 40px 180px;
  }
  .category__list {
    justify-content: unset;
  }
  .category__list label {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    background: #ffffff;
    position: relative;
  }
  .category__list label img {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 20%;
    color: #ee2e24;
  }
  .category__list label img {
    top: 30%;
  }
  .category__list a {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
}
.product {
  margin-top: 40px;
  margin-bottom: 40px;
}
.product__heading {
  text-align: center;
}
.product__heading h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  padding-bottom: 8px;
  display: inline-block;
  border-bottom: 3px solid #ee2e24;
}
.product__heading span {
  margin: 0 20px;
  height: 0px;
  display: block;
  border: 0.5px solid #f99b2a;
}
.product__heading h2 {
  color: #000000;
}
.product__slider {
  overflow: hidden;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 24px;
}
.product__slider .swiper-wrapper {
  flex-direction: row;
}
.product__slider-hot {
  position: absolute;
  top: 0px;
  letter-spacing: 0.5px;
  color: #ffffff;
  background: #ee2e24;
  font-weight: 700;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  left: 82%;
}
.product__slider-pre {
  position: absolute;
  top: 0px;
  letter-spacing: 0.5px;
  color: #ffffff;
  background: #f99b2a;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 20px;
  line-height: 12px;
  right: 0;
}
.product__slider-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 0 !important;
}
.product__slider-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product__slider-box a {
  font-weight: 600;
  font-size: 12px;
  color: #000000;
  display: block;
  margin-top: 12px;
}
.product__slider-box a span {
  color: #ee2e24;
  display: block;
  margin-top: 12px;
}
.product__more {
  color: #ee2e24;
  background-color: #ffffff;
  padding: 10px 30px;
  display: inline-block;
  border: 1px solid #ee2e24;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.product__more:hover {
  background-color: #ee2e24;
  color: #ffffff;
}
@media (min-width: 768px) {
  .product {
    margin: 20px 8%;
  }
  .product__slider-pre,
  .product__slider-hot {
    display: none;
  }
}
@media (min-width: 1024px) {
  .product {
    margin: 0 8% 40px;
  }
  .product__slider {
    margin-top: 0;
  }
  .product__slider-box {
    margin-top: 0 !important;
  }
  .product__slider img {
    height: 246px;
  }
  .product.product__hot {
    display: none;
  }
  .product__heading h2 {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
  }
  .product__heading h2 h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    padding-bottom: 8px;
    display: inline-block;
    border-bottom: 3px solid #ee2e24;
  }
  .product__heading h2 span {
    margin: 0 20px;
    height: 0px;
    display: block;
    border: 0.5px solid #f99b2a;
  }
}
@media (min-width: 1440px) {
  .product {
    margin: 0 120px 40px;
  }
  .product__heading h2 {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
  }
  .product__heading h2 h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    padding-bottom: 8px;
    display: inline-block;
    border-bottom: 3px solid #ee2e24;
  }
  .product__heading h2 span {
    margin: 0 20px;
    height: 0px;
    display: block;
    border: 0.5px solid #f99b2a;
  }
  .product__slider-pre,
  .product__slider-hot {
    display: none;
  }
  .product__slider-box img {
    min-width: 300px;
    min-height: 246px;
    object-fit: cover;
  }
  .product__slider-box a {
    font-size: 14px;
    line-height: 18px;
  }
}
.service {
  background: #f4f4f4;
  padding: 20px 0;
}
.service__heading {
  text-align: center;
}
.service__heading h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  padding-bottom: 8px;
  display: inline-block;
  border-bottom: 3px solid #ee2e24;
}
.service__heading span {
  margin: 0 20px;
  height: 0px;
  display: block;
  border: 0.5px solid #f99b2a;
}
.service__slider {
  padding-top: 30px;
  text-align: center;
}
.service__more {
  margin-top: 20px;
  color: #ffffff;
  background-color: #ee2e24;
  padding: 10px 30px;
  display: inline-block;
  border: 1px solid #ee2e24;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.service__more:hover {
  background-color: #ffffff;
  color: #ee2e24;
}
.service__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
}
.service__list.active label {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background: #ee2e24;
  position: relative;
}
.service__list.active label img {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 20%;
  color: #ffffff;
}
.service__list.active a {
  font-weight: 600;
  color: #ee2e24;
}
.service__list label {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.service__list label img {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 20%;
  color: #ee2e24;
}
.service__list a {
  font-weight: 500;
  color: #333333;
}
.service__list a:hover {
  color: #ee2e24;
}
@media (min-width: 768px) {
  .service {
    padding: 20px 8%;
  }
}
@media (min-width: 1024px) {
  .service {
    padding: 40px 20%;
  }
  .service__heading h2 {
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    max-width: 880px;
    margin: 0 auto;
  }
  .service__heading h2 h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    padding-bottom: 8px;
    display: inline-block;
    border-bottom: 3px solid #ee2e24;
  }
  .service__heading h2 span {
    margin: 0 20px;
    height: 0px;
    display: block;
    border: 0.5px solid #f99b2a;
  }
  .service__heading span {
    display: none;
  }
  .service__slider {
    max-width: 880px;
    margin: 0 auto;
  }
  .service__list label {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    background: #ffffff;
    position: relative;
  }
  .service__list label img {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 20%;
    color: #ee2e24;
  }
  .service__list label img {
    top: 30%;
  }
  .service__list a {
    font-weight: 500;
    color: #333333;
    font-size: 14px;
    line-height: 20px;
  }
  .service__list a:hover {
    color: #ee2e24;
  }
}
.news {
  margin: 20px 0 114px;
}
.news__heading h2 {
  text-align: center;
}
.news__heading h2 h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  padding-bottom: 8px;
  display: inline-block;
  border-bottom: 3px solid #ee2e24;
}
.news__heading h2 span {
  margin: 0 20px;
  height: 0px;
  display: block;
  border: 0.5px solid #f99b2a;
}
.news__slider {
  margin: 20px 20px 0 20px;
}
.news__slider-box img {
  width: 100%;
}
.news__more {
  margin: 20px 0;
  color: #ee2e24;
  background-color: #ffffff;
  padding: 10px 30px;
  display: inline-block;
  border: 1px solid #ee2e24;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.news__more:hover {
  background-color: #ee2e24;
  color: #ffffff;
}
@media (min-width: 768px) {
  .news {
    margin: 20px 8% 90px;
  }
}
@media (min-width: 1024px) {
  .news {
    margin: 40px 105px 90px 135px;
  }
  .news__heading h2 {
    text-align: center;
    font-size: 20px;
    line-height: 36px;
  }
  .news__heading h2 h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    padding-bottom: 8px;
    display: inline-block;
    border-bottom: 3px solid #ee2e24;
  }
  .news__heading h2 span {
    margin: 0 20px;
    height: 0px;
    display: block;
    border: 0.5px solid #f99b2a;
  }
  .news__heading span {
    margin: 0;
  }
  .news__slider {
    margin-top: 40px;
  }
  .news__more {
    margin-top: 40px;
  }
}
.footer {
  background: #f4f4f4;
  padding: 0 20px 110px;
  position: relative;
}
.footer__top {
  padding-bottom: 20px;
  border-bottom: 1px solid #9a9a9c;
}
.footer__top p {
  line-height: 18px;
  margin-bottom: 5px;
}
.footer__title {
  color: #ee2e24;
  font-style: italic;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-weight: 800;
  margin-bottom: 14px;
  padding-top: 100px;
}
.footer__title i {
  display: block;
  font-weight: 600;
}
.footer__app {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer__app a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
}
.footer__bottom {
  margin-top: 20px;
}
.footer__bottom li {
  display: inline-block;
  margin: 9px 0;
}
.footer__bottom li a {
  color: #333333;
}
.footer__bottom span {
  height: 15px;
  width: 1px;
  margin: 0 10px;
  display: inline-block;
  transform: translateY(22%);
  background: #9a9a9c;
}
.footer__license {
  margin-top: 16px;
  display: block;
}
.footer__contact {
  position: absolute;
  background: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  top: -18%;
  padding: 18px;
  left: 20px;
  right: 20px;
}
.footer__contact-follow {
  display: none;
}
.footer__contact-icon > a {
  height: 35px;
  width: 35px;
  background-color: #f99b2a;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.footer__contact-icon > a i {
  font-size: 14px;
  line-height: 35px;
}
.footer__contact-social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.footer__contact-social > span {
  display: none;
}
.footer__contact form {
  order: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
.footer__contact form input {
  flex: 1;
}
.footer__contact form a {
  flex: 1;
  padding: 10px 26px;
}
.footer__contact form input {
  padding: 12.5px 20px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  font-size: 12px;
  width: 180px;
  font-weight: 500;
}
.footer__contact form a {
  color: #ffffff;
  background-color: #ee2e24;
  padding: 10px 30px;
  display: inline-block;
  border: 1px solid #ee2e24;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
  line-height: 18px;
  cursor: pointer;
  text-transform: uppercase;
}
.footer__contact form a:hover {
  background-color: #ffffff;
  color: #ee2e24;
}
@media (min-width: 414px) {
  .footer__contact {
    top: -12%;
  }
  .footer__contact form {
    gap: 20px;
  }
  .footer__contact form a {
    padding: 10px 26px;
  }
  .footer__contact-icon > a {
    margin: 0 5px;
  }
  .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
  }
  .footer__app {
    gap: 10px;
    flex-wrap: nowrap;
  }
}
@media (min-width: 768px) {
  .footer {
    padding-bottom: 20px;
  }
  .footer__contact {
    margin: 0 8%;
  }
  .footer__contact-icon > a {
    margin: 0 5px;
  }
  .footer__content {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 0;
  }
  .footer__top {
    border: none;
    padding-bottom: 0;
  }
  .footer__title {
    font-size: 18px;
    line-height: 22px;
  }
  .footer__title i {
    display: inline-block;
  }
  .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 30px 120px 0;
    border-bottom: 1px solid;
    padding-bottom: 14px;
  }
  .footer__content-text {
    font-size: 14px;
    line-height: 24px;
  }
  .footer__intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 120px;
  }
  .footer__intro > ul {
    margin: 20px 0 35px;
    font-size: 14px;
  }
  .footer__intro > span {
    margin: 20px 0 35px;
    font-size: 12px;
  }
  .footer__contact {
    top: -50px;
  }
  .footer__contact-social {
    gap: 10px;
    margin-bottom: 0;
  }
  .footer__contact-social form {
    order: 0;
    gap: 10px;
  }
  .footer__contact-social > span {
    display: block;
    height: 60px;
    border-right: 0.5px solid #9a9a9c;
  }
  .footer__contact-icon > a:first-child {
    margin-left: 0;
  }
  .footer__contact-follow {
    display: block;
    color: #ee2e24;
    font-size: 14px;
    font-weight: 600;
  }
  .footer__contact-follow span {
    display: block;
    color: #333333;
    font-size: 12px;
    line-height: 18px;
    margin-top: 5px;
  }
}
@media (min-width: 1440px) {
  .footer__contact {
    margin: 0 180px;
  }
  .footer__contact-social > span {
    margin-right: 10px;
  }
  .footer__contact-follow {
    font-size: 18px;
    margin: 0 10px 0 20px;
  }
  .footer__contact-follow span {
    font-size: 14px;
  }
}
.club {
  position: fixed;
  left: 20px;
  bottom: 84px;
  z-index: 100;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  background: #ffffff;
}
.club img {
  width: 100%;
}
.club span {
  color: #ee2e24;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 700;
  display: inline-block;
}
.quick__email,
.quick__phone {
  position: fixed;
  right: 20px;
  z-index: 100;
  background: #f99b2a;
  border-radius: 50%;
  color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
}
.quick__email img,
.quick__phone img {
  padding: 10px;
  object-fit: cover;
}
.quick__email {
  bottom: 80px;
}
.quick__phone {
  bottom: 136px;
}
@media (min-width: 768px) {
  .quick__email,
  .quick__phone,
  .club {
    display: none;
  }
}
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  transition: width none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  list-style: none;
}
body {
  color: #333333;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.space {
  margin-top: 3px;
  background: #f99b2a;
  width: 100%;
  display: block;
  height: 9px;
}
