.category {
  margin: 20px 20px 30px;
  text-align: center;
  .grid(60px, 1fr, 20px);
  list-style: none;

  &__list {
    .flex(center, center, wrap, column);
    gap: 8px;
    &.active {
      label {
        background-color: @color-theme__base;
        img {
          color: @color-white;
        }
      }
      a {
        .text-active;
      }
      &:last-child {
        label {
          background-color: @color-white;
        }
      }
    }

    label {
      .item-default(60px, 60px);
      .box-shadow-default();
    }
    a {
      .text-default;
    }
  }
}

@media (min-width: 768px) {
  .category {
    margin: 20px 8%;

    &__list {
      a {
        max-width: 68px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .category {
    margin: 40px 180px;

    &__list {
      justify-content: unset;
      label {
        .item-default(80px, 80px);

        img {
          top: 30%;
        }
      }

      a {
        font-weight: @font-weight__semibold;
        font-size: @font-size__m;
        line-height: @line-height__l;
      }
    }
  }
}
