.footer {
  background: @color-gray-light;
  padding: 0 20px 110px;
  position: relative;

  &__top {
    padding-bottom: 20px;
    border-bottom: 1px solid @color-border;
    p {
      line-height: @line-height__m;
      margin-bottom: 5px;
    }
  }

  &__title {
    color: @color-theme__base;
    font-style: italic;
    font-size: @font-size__m;
    line-height: @line-height__xl;

    text-align: center;
    font-weight: @font-weight__extrabold;
    margin-bottom: 14px;
    padding-top: 100px;

    i {
      display: block;
      font-weight: @font-weight__semibold;
    }
  }

  &__app {
    .flex(end, space-between, wrap);
    a {
      .flex(center, space-between, wrap, column);
      gap: 5px;
    }
  }

  &__bottom {
    margin-top: 20px;

    li {
      display: inline-block;
      margin: 9px 0;

      a {
        color: @color-text__gray;
      }
    }

    span {
      height: 15px;
      width: 1px;
      margin: 0 10px;
      display: inline-block;

      transform: translateY(22%);
      background: @color-border;
    }
  }

  &__license {
    margin-top: 16px;
    display: block;
  }
}

.footer__contact {
  position: absolute;
  background: @color-white;
  .boder-radius(20px);
  .box-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));

  top: -18%;
  padding: 18px;
  left: 20px;
  right: 20px;

  &-follow {
    display: none;
  }

  &-social {
    .flex(center, center);
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;

    & > span {
      display: none;
    }

    .footer__contact-desk {
      display: none;
    }
  }

  form {
    .flex(center, space-between, wrap);
    gap: 20px;
    input {
      flex: 1;
    }

    a {
      flex: 1;
      padding: 10px 26px;
    }

    input {
      padding: 12.5px 20px;
      border: 1px solid #e5e5e5;
      .boder-radius(20px);
      font-size: @font-size__s;

      width: 180px;
      font-weight: @font-weight__heavier;
    }

    a {
      .btn-extra();
      text-transform: uppercase;
    }
  }
}

@media (min-width: 414px) {
  .footer__contact {
    top: -12%;
    form {
      gap: 10px;

      a {
        padding: 10px 26px;
      }
    }
  }
  .footer__content {
    .flex(center, space-between, wrap);
    gap: 20px;
  }

  .footer__app {
    gap: 10px;
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  .footer {
    padding-bottom: 20px;
  }
  .footer__contact {
    margin: 0 8%;

    .form-mobile {
      gap: 20px;
      input {
        flex: 2;
      }
    }
  }
  .footer__content {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 0;
    &__top {
      border: none;
      padding-bottom: 0;
    }

    &__title {
      font-size: @font-size__l;
      line-height: @line-height__xl - 2px;
      i {
        display: inline-block;
      }
    }

    &__content {
      .flex(center, space-between);
      margin: 30px 120px 0;
      border-bottom: 1px solid;
      padding-bottom: 14px;
      &-text {
        font-size: @font-size__m;
        line-height: @line-height__xl;
      }
    }

    &__intro {
      .flex(center, space-between);
      margin: 0 120px;

      & > ul {
        margin: 20px 0 35px;
        font-size: @font-size__m;
      }

      & > span {
        margin: 20px 0 35px;
        font-size: @font-size__s;
      }
    }
  }

  .footer__contact {
    top: -50px;
    &-social {
      gap: 10px;
      margin-bottom: 0;

      & > span {
        display: block;
        height: 60px;
        border-right: 0.5px solid #9a9a9c;
      }

      a:first-child {
        img {
          width: 140px;
          height: 50px;
        }
      }

      .footer__contact-desk {
        display: block;
        gap: 20px;
        .input-desk {
          width: 252px;
        }
      }
    }

    &-follow {
      display: block;
      color: @color-theme__base;
      font-size: @font-size__l;
      font-weight: @font-weight__semibold;

      span {
        display: block;
        color: @color-text__gray;
        font-size: @font-size__m;
        line-height: @line-height__m;
        margin-top: 5px;
      }
    }

    .form-mobile {
      display: none;
    }
  }
}

@media (min-width: 1440px) {
  .footer__contact {
    margin: 0 180px;

    &-social {
      a:first-child {
        img {
          width: 160px;
          height: 60px;
        }
      }

      & > span {
        margin-right: 10px;
      }
    }

    &-follow {
      margin: 0 10px 0 20px;
    }

    &-desk {
      a {
        margin: 0 10px 0 10px;
      }
    }
  }
}
