.news {
  margin: 20px 0 114px;

  &__heading {
    h2 {
      .heading-text();
    }
  }

  &__slider {
    margin: 20px 20px 0 20px;
    &-box {
      img {
        width: 100%;
      }
    }
  }

  &__more {
    margin: 20px 0;
    .see-more();
  }
}

@media (min-width: 768px) {
  .news {
    margin: 20px 8% 90px;
  }
}

@media (min-width: 1024px) {
  .news {
    margin: 40px 105px 90px 135px;

    &__heading {
      h2 {
        .heading-text();
        font-size: @line-height__l;
        line-height: 36px;
      }

      span {
        margin: 0;
      }
    }

    &__slider {
      margin-top: 40px;
    }

    &__more {
      margin-top: 40px;
    }
  }
}
