.product {
  margin-top: 40px;
  margin-bottom: 40px;

  &__heading {
    .heading-text();
    h2 {
      color: @color-black;
    }
  }

  &__slider {
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 24px;

    .swiper-wrapper {
      flex-direction: row;

      // .swiper-slide {
      //   margin-top: 20px;
      // }
    }

    &-hot {
      .label-hot();
    }

    &-pre {
      .label-pre();
    }

    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin-top: 0 !important;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      a {
        font-weight: @font-weight__semibold;
        font-size: @font-size__s;
        color: @color-text__black;
        display: block;
        margin-top: 12px;

        span {
          color: @color-theme__base;
          display: block;
          margin-top: 12px;
        }
      }
    }
  }

  &__more {
    .see-more();
  }
}

@media (min-width: 768px) {
  .product {
    margin: 20px 8%;

    &__slider {
      &-pre,
      &-hot {
        display: none;
      }
    }
  }
}

@media (min-width: 1024px) {
  .product {
    margin: 0 8% 40px;

    &__slider {
      margin-top: 0;
      &-box {
        margin-top: 0 !important;
      }

      img {
        height: 246px;
      }
    }

    &.product__hot {
      display: none;
    }

    &__heading {
      h2 {
        .heading-text();
        font-size: @line-height__xl;
        line-height: 36px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .product {
    margin: 0 120px 40px;

    &__heading {
      h2 {
        .heading-text();
        font-size: @line-height__xl;
        line-height: 36px;
      }
    }

    &__slider {
      &-pre,
      &-hot {
        display: none;
      }

      &-box {
        img {
          min-width: 300px;
          min-height: 246px;
          object-fit: cover;
        }

        a {
          font-size: @font-size__m;
          line-height: @line-height__m;
        }
      }
    }
  }
}
